body{
    max-width: 1140px;
    margin: 0 auto;
}
.happy-newyear{
    position: relative;
     height: 500px; 
    background-image: url(../images/Banner\ Image.png); background-size: cover;
    background-repeat: no-repeat;
    background-position:center;
  background-size: cover;
  border-radius: 10px;
  margin-top: 20px;
  overflow: hidden;

}

.happy-newyear::before {
  content: '';
  position: absolute;
  top: 0; left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5); /* Dark semi-transparent overlay */
  z-index: 1;
}

.content {
  position: relative;
  z-index: 2;
}

.banner-text{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    z-index: 2;
}
.happy-line-1{
    color: white;
    font-size: 30px;
    font-weight: bold;
}
.happy-line-2{
    color: white;
    font-size: 60px;
    font-weight: bolder;
    text-align: center
}


.offer-content{
    margin-top: 100px;
    text-align: center;
}

.midnight-party{
   position: relative;
     height: 500px; 
    background-image: url(../images/Vectorrr.png); background-size: cover;
    background-repeat: no-repeat;
    background-position:center;
  background-size: cover;
  border-radius: 10px;
  margin-top: 20px;
  overflow: hidden;
   margin-bottom: 100px;

}

.midnight-party::before {
  content: '';
  position: absolute;
  top: 0; left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5); /* Dark semi-transparent overlay */
  z-index: 1;

 
}


.content {
  position: relative;
  z-index: 2;
}

.join{
  height: 400px;
  margin-top: 100px;
  margin-bottom: 100px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  text-align: center;
  background: linear-gradient(to bottom right, #f3eeed, #f08080);
  border-radius: 10px;
}